
@-webkit-keyframes pop {
      0% { -webkit-transform: scale(0); }
     40% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

.BeachPlanet {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    height: 600px !important;
}

/* States -------------------------------- */

.BeachPlanet-playing {
  transition-property: opacity;
  transition-duration: 3s;
  opacity: 0;
}

/* View ------------------------- */

.BeachPlanet .View-canvas {
    display: block; /* Fix for Safari -> removes bottom gap */
}

/* Overlay ------------------------- */

.BeachPlanet-button.digit-Button {
    display: block;
    font-family: inherit;
    font-size: 30px;
    padding: 0.4em 0.8em;
    height: auto;
    color: hsl(48, 100%, 67%);
    text-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.2);
    border: 2px solid hsla(0, 0%, 0%, 0.33);
    border-radius: 16px;
    box-shadow: inset 0 1px 4px hsla(0, 100%, 100%, 0.48);
    background-color: hsl(29, 67%, 35%);
    background-image: url(wood-pattern.png);
    background-size: 100% auto;
    -webkit-transition: -webkit-transform .2s;
}

.BeachPlanet-button.digit-Button:hover {
    -webkit-transform: scale(1.1);
}

.BeachPlanet-button.digit-Button.montage--active {
    -webkit-transform: scale(.9);
    -webkit-transition-duration: .05s;
}


/* Panel -------------------------------- */

.BeachPlanet-panel {
    display: none;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -250px;
    border-radius: 26px;
    border: 2px solid hsla(0, 0%, 0%, 0.33);
    color: hsla(0, 0%, 0%, 0.5);
    text-shadow: 1px 2px 0 hsla(0, 100%, 100%, 0.13);
    background-color: hsl(29, 55%, 56%);
    background-image: url(wood-pattern-light.png);
    background-size: 100% auto;
    box-shadow: inset 2px 4px 0px hsla(0, 100%, 100%, 0.2), 6px 12px 0px hsla(0, 0%, 0%, 0.15);
}

.isPlaying .BeachPlanet-panel {
    display: block;
    -webkit-animation: pop .4s .4s cubic-bezier(.07, .45, .18, .94);
    -webkit-animation-fill-mode: backwards;
}

.BeachPlanet-panel-logo {
    display: block;
    width: 76px;
    margin: 30px auto 0 auto;
}

.BeachPlanet-play-title {
  color: #fff;
  font-size: 36px;
  margin-bottom: 0;
  text-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4);
}

.BeachPlanet-play-subtitle {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 20px;
}

.BeachPlanet-play-link {
    text-decoration: none;
    color: hsl(204, 54%, 37%);
}

.BeachPlanet-play-link:hover {
    color: hsl(204, 54%, 47%);
}

.BeachPlanet-play-link:hover {
    color: hsl(204, 54%, 27%);
}

/* Camera -------------------------------- */

.BeachPlanet-cams {
    padding: 10px;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
}

.BeachPlanet-cams-label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.BeachPlanet-nav-item.digit-Button {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
    font-family: inherit;
    color: hsl(48, 100%, 67%);
    text-shadow: 1px 2px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    background: hsla(26, 64%, 37%, 0.5);
    box-shadow: inset 1px 2px 0 hsla(36, 100%, 89%, 0.1), 1px 2px 0 hsla(31, 72%, 25%, 0.67);
}

.BeachPlanet-nav-item.digit-Button:hover {
    background-color: hsla(26, 64%, 42%, 0.5);
}

.BeachPlanet-nav-item.digit-Button:active,
.BeachPlanet-nav-item.digit-Button.is-selected {
    color: hsl(29, 20%, 21%);
    text-shadow: 1px 1px 0 hsla(0, 100%, 100%, 0.32);
    background-color: hsla(48, 35%, 91%, 0.34);
    box-shadow: inset 1px 2px 0 hsla(36, 62%, 20%, 0.49);
}

.BeachPlanet-nav-item:last-child {
    margin: 0;
}
