
@keyframes myglow {
    0%   {opacity: 0}
    10%  {opacity: .38;}
    20%  {opacity: .75;}
    100% {opacity: 0;}
}


.underwear {
    width:100%;
    height:100%;
   // overflow:visible;
    background-color:rgba(0,0,0,1.0);
   // position:relative;


}

.svg_cont {
    width:200px;
    height:200px;
    position:absolute;
    top:20px;
    left:20px;
    -webkit-transform-origin:0% 0%;
    -webkit-transform:translate(0px, 0px) scale(.25);
    -webkit-transition:all .5s ease-in;


}

.svg2_cont {
    width:200px;
    height:200px;
    position:absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    -webkit-transform-origin:0% 0%;
    -webkit-transform:translate(0px, 0px) scale(.5);
    -webkit-transition:all .5s ease-in;


}

.svg2b_cont::before {

}

.conic_gradient {
    position:absolute;
    top:0px;
    left:0px;
    width:200px;
    height:200px;
    cursor:pointer;
    //fill:rgba(255,0,0,1.0);
    background-image:url(conic.png);
    background-size:cover;
    -webkit-transform-origin:50% 50%;
	-webkit-transform: rotate(0deg);
    -webkit-transition:all .5s ease-in;
}

.glowtrans {
    opacity:0;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(-328px, 238.2px);
    -webkit-transition:all .5s ease-in;


}
.glowtrans.off {
    opacity:0;
}
.glowtrans.start {
    animation: myglow 1s 1;



}

.st14{
    fill:url(#comet_1_);
}

.st15{
     opacity:0;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(-580px, 580px);
    -webkit-transition:all .5s ease-in;

}
.st16 {
	opacity:0;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(.5);
    -webkit-transition:all .5s ease-in;
 }

.comets {
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(30px, 32px) scale(.95);
    -webkit-transition:all .1s ease-in;


}
.gear {
	fill:url(#gear_grad);
 	opacity:1.0;
     -webkit-transform-origin:50% 50%;
     -webkit-transform:translate(-580px, 580px);
//     -webkit-transition:all .1s ease-in;

 }

 .gear.off {
     opacity:0;

 }


 .geargg {
      -webkit-transform-origin:50% 50%;
      -webkit-transform:translate(-580px, 580px);
      -webkit-transition:all .1s ease-in;

 }

.comet {
 	opacity:.2;
 	fill:rgba(255,200,160,1.0);
     -webkit-transform-origin:50% 50%;
     -webkit-transform:translate(-580px, 580px) scale(.95) ;
     -webkit-transition:all .1s ease-in;

 }

.comet.off {

 	opacity:0;
     -webkit-transition:all 1s ease-in;

}

.rects_group {
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(32px, 34px) scale(.95);
    -webkit-transition:all .1s ease-in;


}

.rects {
	opacity:1.0;
	fill:rgba(255,200,160,1.0);
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(-580px, 580px);
    //-webkit-transition:all .1s ease-in;

}

.rects.off {

	opacity:0;
    -webkit-transition:all .6s ease-in;

}
.circles {
	opacity:1.0;
	fill:rgba(255,200,160,1.0);
    -webkit-transform-origin:50% 50%;
    -webkit-transform:translate(-580px, 580px) scale(1.0);
   // -webkit-transition:all .1s ease-in;

}

.circles.off {

	opacity:0.0;
    -webkit-transition:all .6s ease-in;

}

.conic {
  //transform: translate(-50%, -50%);
  background: #000;
  background: radial-gradient(circle closest-side, #ffffff, #000000 90%), conic-gradient(red, #ff8000, yellow, #80ff00, lime, #00ff80, cyan, #007fff, blue, #7f00ff, magenta, #ff0080, red);
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-blend-mode: screen;
  border-radius: 50%;
}


.circle {
    opacity:1.0;
    fill:#333333;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(.5);
//    -webkit-transition:all .5s ease-in;
}

.circle_old {
	opacity:0;



	  background: #000;
	  background:
	    radial-gradient(
	      circle closest-side,
	      hsl(0,0%,100%),
	      hsl(0,0%,0%) 90%
	    ),
	    conic-gradient(hsl(0,100%,50%),
	                   hsl(30,100%,50%),
	                   hsl(60,100%,50%),
	                   hsl(90,100%,50%),
	                   hsl(120,100%,50%),
	                   hsl(150,100%,50%),
	                   hsl(180,100%,50%),
	                   hsl(210,100%,50%),
	                   hsl(240,100%,50%),
	                   hsl(270,100%,50%),
	                   hsl(300,100%,50%),
	                   hsl(330,100%,50%));
	    border: 5px solid #fff;
	    box-shadow: 0px 5px 10px rgba(#000,0.5);
	    background-blend-mode: screen;
	    border-radius: 50%;

    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(.5);
//    -webkit-transition:all .5s ease-in;

}

.circle2.off {
	opacity:0;

}

.circle.off {
	opacity:0;

}
.wtri {
    opacity:1;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(1.0);
    -webkit-transition:all .5s ease-in;


}
.wtri.off {
    opacity:0;
    -webkit-transition:all .5s ease-in;

}


.tri {
    opacity:1;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(1.0);
    -webkit-transition:all .5s ease-in;


}

.glower {
    width: 100%;
    height: 100%;
    opacity:.6;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
    -webkit-transition:all 2s linear;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:rotate(0deg);
}

.glower.on {
    width: 100%;
    height: 100%;
    opacity:.2;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
    -webkit-transition:all 2s linear;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:rotate(180deg);
}

.glower.on2 {
    width: 100%;
    height: 100%;
    opacity:.6;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
    -webkit-transition:all 2s linear;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:rotate(360deg);
}

.loader {
  font-size: 10px;
  opacity:.3;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-transform-origin:50% 50%;

  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateY(-5px) translateZ(0) scale(1.9) ;
  -ms-transform:  translateY(-5px) translateZ(0) scale(1.9) ;
  transform: translateY(-5px) translateZ(0) scale(1.9);


}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg) scale(1.9);
    transform: translateY(-5px) rotate(0deg) scale(1.9);
  }
  100% {
    -webkit-transform:translateY(-5px) rotate(360deg) scale(1.9) ;
    transform: translateY(-5px) rotate(360deg) scale(1.9) ;
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg) scale(1.9);
    transform: translateY(-5px) rotate(0deg) scale(1.9) ;
  }
  100% {
    -webkit-transform: translateY(-5px) rotate(360deg) scale(1.9));
    transform: translateY(-5px) rotate(360deg) scale(1.9);
  }
}


.tri.left {
    opacity:0;
    -webkit-transform:translate(-100px, 0px) scale(2);
   // -webkit-transition:all .5s ease-in;
}
.tri.right {
    opacity:0;
    -webkit-transform:translate(100px, 0px) scale(2);
  //  -webkit-transition:all .5s ease-in;
}

.tri.off {
    opacity:0;
    -webkit-transition:all .5s ease-in;

}

.tri.on {
    opacity:1;
    -webkit-transform:scale(1.3);
    -webkit-transition:all .2s cubic-bezier(.5,-0.25,.5,1.5);

}
.picker_input {
    border-radius:12px;
    font-size:18px;
    border:1px solid rgba(255,255,255,.7);
    position:absolute;
    width:50px;
    top:100px;
    left:calc(50% - 25px);

}

.picker_select {
    border-radius:12px;
    font-size:18px;
    color:rgba(255,255,255,.7);
    background-color:transparent;
    border:1px solid rgba(255,255,255,.7);
    position:absolute;
    width:200px;
    top:40px;
    left:calc(50% - 100px);
    padding-left:10px;

}

.picker_select2 {
    border-radius:12px;
    font-size:18px;
    color:rgba(255,255,255,.7);
    background-color:transparent;
    border:1px solid rgba(255,255,255,.7);
    position:absolute;
    width:200px;
    top:70px;
    left:calc(50% - 100px);
    padding-left:10px;

}

.picker_option {

    background-color:black;
    color:white;

}


.svg_cont:hover {
   // -webkit-transition:all .5s cubic-bezier(0, 1.2, 1, 1.2);
    -webkit-transition:all .5s cubic-bezier(.5,-0.25,.5,1.5);
   // -webkit-transition:all .5s cubic-bezier(.5,-0.25,.71,1.18);
    -webkit-transform:scale(.75);


}


.mslogo_circle {
    //fill:rgba(255,0,0,1.0);
    cursor:pointer;
    opacity:1;
   // background-image:url(conic.png);
}

.mslogo_circle.off {
    opacity:0;
}

.mslogo_ms {
    opacity:1.0;
    cursor:pointer;
    -webkit-transition:all .5s ease-in;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(1.0) translate(0px, -10px);
}

.mslogo_ms.off {
    opacity:0.0;
    cursor:pointer;
    -webkit-transition:all .5s ease-in;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:scale(2.0);
}

.mslogo_ms.frame3 {
    opacity:1.0;
    -webkit-transition:all .5s ease-in;
    -webkit-transform-origin:50% 0%;
    -webkit-transform:scale(1.0);
    cursor:pointer;
}

.mslogo_wirelogo {
    -webkit-transform-origin:50% 0%;
    -webkit-transform:translate(0px, 140px);
    -webkit-transition:all .5s ease-in;
    opacity:1.0;
    cursor:pointer;

}
.mslogo_wirelogo.off {
    opacity:0;
}
.mslogo_wirelogo.frame1 {
    -webkit-transform-origin:50% 0%;
    -webkit-transform:translate(0px, 0px);
    -webkit-transition:all .5s ease-in;
    opacity:1.0;
    cursor:pointer;

}

.mslogo_wirelogo.frame5 {
    -webkit-transform-origin:50% 0%;
    -webkit-transform:translate(0px, 0px);
    opacity:0;
    -webkit-transition:all .5s ease-in;
    cursor:pointer;
}

.mslogo_wtriangles {
    opacity:1.0;
    -webkit-transition:all .5s ease-in;
    -webkit-transform:translate(0px, 145px);
    cursor:pointer;
}

.mslogo_wtriangles.fulllogo {

    -webkit-transform:translate(0px, -20px);


}


.mslogo_triangles {
    opacity:1.0;
    -webkit-transition:all .5s ease-in;
    -webkit-transform:translate(0px, 145px);
    cursor:pointer;
}

.mslogo_triangles.fulllogo {

    -webkit-transform:translate(0px, -20px);


}

.mslogo_trianglesr.frame1 {
    opacity:0.0;
    -webkit-transform:translate(0px, 145px);

}

.mslogo_triangles.frame4 {
    opacity:1.0;
    -webkit-transition:all .5s ease-in;
    cursor:pointer;
}


#line_1 {opacity:0.0;-webkit-transition:all .5s ease-in;-webkit-transform-origin:50% 0%;-webkit-transform:scale(5.0) translate(-200px, 0px);}
#line_1.frame1 {opacity:1.0;-webkit-transition:all 1s ease-in;-webkit-transform:scale(1.0) translate(0px, 0px);}
#line_2 {opacity:0;-webkit-transition:all .5s ease-in;-webkit-transform-origin:50% 0%;-webkit-transform:scale(5.0) translate(-200px, 0px);}
#line_2.frame1 {opacity:1.0;-webkit-transition:all 1s ease-in;-webkit-transform:scale(1.0) translate(0px, 0px);}
#line_3 {opacity:0;-webkit-transition:all .5s ease-in;-webkit-transform-origin:50% 0%;-webkit-transform:scale(5.0) translate(-200px, 0px);}
#line_3.frame1 {opacity:1.0;-webkit-transition:all 1s ease-in;-webkit-transform:scale(1.0) translate(0px, 0px);}
#line_4 {opacity:0;-webkit-transition:all .5s ease-in;-webkit-transform-origin:50% 0%;-webkit-transform:scale(5.0) translate(-200px, 0px);}
#line_4.frame1 {opacity:1.0;-webkit-transition:all 1s ease-in;-webkit-transform:scale(1.0) translate(0px, 0px);}

#crafted_c { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_r { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_a { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_f { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_t { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_e { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#crafted_d { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#with_w { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#with_i { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#with_t { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}
#with_h { opacity:0;-webkit-transition:all .5s ease-in;cursor:pointer;}

#crafted_c.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_r.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_a.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_f.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_t.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_e.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#crafted_d.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#with_w.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#with_i.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#with_t.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}
#with_h.frame2 { opacity:1;-webkit-transition:all .2s ease-in;}

.st0{stroke:rgba(255,255,255,0.000);stroke-width:200;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{stroke:rgba(255,255,255,0.025);stroke-width:190;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{stroke:rgba(255,255,255,0.050);stroke-width:180;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{stroke:rgba(255,255,255,0.075);stroke-width:170;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{stroke:rgba(255,255,255,0.100);stroke-width:160;stroke-linejoin:round;stroke-miterlimit:10;}
.st5{stroke:rgba(255,255,255,0.125);stroke-width:150;stroke-linejoin:round;stroke-miterlimit:10;}
.st6{stroke:rgba(255,255,255,0.150);stroke-width:140;stroke-linejoin:round;stroke-miterlimit:10;}
.st7{stroke:rgba(255,255,255,0.175);stroke-width:130;stroke-linejoin:round;stroke-miterlimit:10;}
.st8{stroke:rgba(255,255,255,0.200);stroke-width:120;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{stroke:rgba(255,255,255,0.225);stroke-width:110;stroke-linejoin:round;stroke-miterlimit:10;}
.st10{stroke:rgba(255,255,255,0.250);stroke-width:100;stroke-linejoin:round;stroke-miterlimit:10;}
.st11{stroke:rgba(255,255,255,0.275);stroke-width:90;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{stroke:rgba(255,255,255,0.300);stroke-width:80;stroke-linejoin:round;stroke-miterlimit:10;}
.st13{stroke:rgba(255,255,255,0.325);stroke-width:70;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{stroke:rgba(255,255,255,0.350);stroke-width:60;stroke-linejoin:round;stroke-miterlimit:10;}
.st15{stroke:rgba(255,255,255,0.375);stroke-width:50;stroke-linejoin:round;stroke-miterlimit:10;}
.st16{stroke:rgba(255,255,255,0.400);stroke-width:40;stroke-linejoin:round;stroke-miterlimit:10;}
.st17{stroke:rgba(255,255,255,0.425);stroke-width:30;stroke-linejoin:round;stroke-miterlimit:10;}
.st18{stroke:rgba(255,255,255,0.450);stroke-width:20;stroke-linejoin:round;stroke-miterlimit:10;}
.st19{stroke:rgba(255,255,255,0.475);stroke-width:10;stroke-linejoin:round;stroke-miterlimit:10;}
.st20{stroke:rgba(255,255,255,0.500);stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10;}

.st0{stroke:rgba(255,255,255,0.0.025);stroke-width:200;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{stroke:rgba(255,255,255,0.025);stroke-width:190;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{stroke:rgba(255,255,255,0.030);stroke-width:180;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{stroke:rgba(255,255,255,0.030);stroke-width:170;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{stroke:rgba(255,255,255,0.035);stroke-width:160;stroke-linejoin:round;stroke-miterlimit:10;}
.st5{stroke:rgba(255,255,255,0.035);stroke-width:150;stroke-linejoin:round;stroke-miterlimit:10;}
.st6{stroke:rgba(255,255,255,0.040);stroke-width:140;stroke-linejoin:round;stroke-miterlimit:10;}
.st7{stroke:rgba(255,255,255,0.040);stroke-width:130;stroke-linejoin:round;stroke-miterlimit:10;}
.st8{stroke:rgba(255,255,255,0.045);stroke-width:120;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{stroke:rgba(255,255,255,0.045);stroke-width:110;stroke-linejoin:round;stroke-miterlimit:10;}
.st10{stroke:rgba(255,255,255,0.05);stroke-width:100;stroke-linejoin:round;stroke-miterlimit:10;}
.st11{stroke:rgba(255,255,255,0.06);stroke-width:90;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{stroke:rgba(255,255,255,0.07);stroke-width:80;stroke-linejoin:round;stroke-miterlimit:10;}
.st13{stroke:rgba(255,255,255,0.08);stroke-width:70;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{stroke:rgba(255,255,255,0.10);stroke-width:60;stroke-linejoin:round;stroke-miterlimit:10;}
.st15{stroke:rgba(255,255,255,0.15);stroke-width:50;stroke-linejoin:round;stroke-miterlimit:10;}
.st16{stroke:rgba(255,255,255,0.2);stroke-width:40;stroke-linejoin:round;stroke-miterlimit:10;}
.st17{stroke:rgba(255,255,255,0.25);stroke-width:30;stroke-linejoin:round;stroke-miterlimit:10;}
.st18{stroke:rgba(255,255,255,0.3);stroke-width:20;stroke-linejoin:round;stroke-miterlimit:10;}
.st19{stroke:rgba(255,255,255,0.35);stroke-width:10;stroke-linejoin:round;stroke-miterlimit:10;}
.st20{stroke:rgba(255,255,255,0.4);stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10;}
