.beachplanet {
  font-family: sans-serif;
}
.beachplanet .stage {
  height: 600px !important;
}
.beachplanet h1 {
  color: #fff;
  border: #000;
  font-family: "Impact";
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #000;
  font-size: 60px;
}
.beachplanet #top {
  position: fixed;
  text-align: center;
  width: 100%;
}
.beachplanet #bottom {
  position: fixed;
  margin-top: 450px;
  text-align: center;
  width: 100%;
}

.open {
  transform: rotateZ(-130deg);
}
.animate {
  transition-property: transform;
  transition-duration: 5s;
  transform-origin: 0% 0%;
}
