.beachplanet {
  font-family: sans-serif;
}
.beachplanet .stage {
  height: 600px !important;
}
.beachplanet h1 {
  color: #fff;
  border: #000;
  font-family: "Impact";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  -webkit-text-stroke: 3px #000;
}
.beachplanet #top {
  position: fixed;
  text-align: center;
  width: 100%;
}
.beachplanet #bottom {
  position: fixed;
  margin-top: 450px;
  text-align: center;
  width: 100%;
}
.animate:hover {
  transform: scale3d(3, 3, 3);
  cursor: pointer;
}
.animate {
  transition-property: transform;
  transition-duration: 5s;
  -montage-transform-z-origin: 0%;
}
